{% extends "navigation_bar.html" %}

{% block content %}
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-3 container"><div class="jumbotron"><img src="img/myKitchen.jpeg" id="rotate-img" class="img img-responsive img-thumbnail"></div></div>
     <div class="col-sm-6 container"><div class="jumbotron"><p style="color:white;" class="center-block"><h3 style="text-align:center;">Login if existing user <br>or <a href="{{url_for('signup')}}">sign up</a> if new</h3></p><br>
      <form action="http://127.0.0.1:5000/login" method="post">
       <div class="form-group" style="width:400px; margin:0 auto;">
        <label  for="usr" style="color:black;">Username</label>
        <input type="text" name="username" class="form-control">
       </div>
       <div class="form-group" style="width:400px; margin:0 auto;">
        <label  for="pwd" style="color:black;">Password</label>
        <input type="text" name="password" class="form-control"> 
       </div><br>    
           <button type="submit" class="btn btn-primary btn-md col-sm-offset-1 col-sm-20 center-block">login</button><br>
      </form>
      </div>
     </div>
    <div class="col-sm-3 container"><div class="jumbotron"><p></p></div></div>
   </div>
</div>
{% endblock %}
