{% extends "navigation_bar.html" %}
<style>
  .form-group, .btn{margin: auto;} 
</style>
{% block content %}
<p><h1>sign_up page under construction</h1></p>
<div class="container-fluid">
 <div class="row">
  <div class="col-sm-3 container-fluid"><div class="jumbotron"><h4><b>Feel free to Sign up!</b></h4>&nbsp;<a class="em em-arrow_right"></a></div></div>
 
 <div class="col-sm-6 container">
   <form class="form-horizontal" action="http://127.0.0.1:5000/" method="POST">
    <div class="form-group col-centered" style="width:400px; margin:0 auto; color:black;">
     <label for="username">Choose Username</label>
     <input type="text" name="name" class="form-control">
    </div><br>
    <div class="form-group col-centered" style="width:400px; margin:0 auto; color:black;">
     <label for="password">Create Password</label>
     <input type="text" name="name" class="form-control">
    </div><br>
    <div class="form-group col-centered" style="width:400px; margin:0 auto; color:black;">
     <label for="confirmpassword">Confirm Password</label>
     <input type="text" name="name" class="form-control">
    </div>
   </form>
   <br> 
     <button class="btn btn-info btn-md center-block col-sm-offset-1 col-sm-20 form-cobtrol" type="button" style="margin:0 auto;">Sign up</button>
    <br> 
 </div>

  <div class="col-sm-3 container"><div class="jumbotron">againer, this is the jumbotron class</div></div>
 </div>
</div>
{% endblock %}
