{% extends "navigation_bar.html" %}

{% block content %}
<style>
  .form-group, .btn{margin: auto;}
</style>
<script>
 $(document).ready(function(){ 
 $(#submit).click(function(){ 
 $('#username','#password','#confirmpassword').val("")});
});
</script>

<p><h1 style="text-align:center;">Signup or login to view your accounts or profile</h1></p><br>
<div class="container-fluid">
 <div class="row">
  <div class="col-sm-3 container-fluid"><div class="jumbotron"><h4><b>Feel free to Sign up!</b></h4>&nbsp;<a class="em em-arrow_right"></a></div></div>
 
 <div class="col-sm-6 container">
  <div class="jumbotron">
   <form class="form-horizontal" action="http://127.0.0.1:5000/sign_up_form.py" method="POST">
    <div class="form-group col-centered" style="width:400px; margin:0 auto; color:black;">
     <label for="username">Choose Username</label>
     <input type="text" name="username" class="form-control">
    </div><br>
    <div class="form-group col-centered" style="width:400px; margin:0 auto; color:black;">
     <label for="password">Create Password</label>
     <input type="text" name="password" class="form-control">
    </div><br>
    <div class="form-group col-centered" style="width:400px; margin:0 auto; color:black;">
     <label for="confirmpassword">Confirm Password</label>
     <input type="text" name="confirmpassword" class="form-control">
    </div>
   </form>
  </div>
   <br> 
     <input class="btn btn-info btn-md center-block col-sm-offset-1 col-sm-20 form-cobtrol" type="submit" style="margin:0 auto;" value="Submit">
    <br> 
 </div>

  <div class="col-sm-3 container"><div class="jumbotron"><div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="img/L_Küche_2015.jpg" alt="..."  width="200" height="200">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="img/dam-images-decor-2013-01-white-kitchens-white-kitchens-01.jpg" alt="..." width="200" height="200">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="img/HKITC111_After-Yellow-Kitchen-Cabinets-Close_4x3.jpg.rend.hgtvcom.616.462.jpeg" alt="..." width="200" height="200">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel --></div></div>
 </div>
</div>
{% endblock %}
